---
import Layout from '../layouts/Layout.astro'; // Asegúrate de que esta ruta sea correcta según tu estructura de proyecto
---

<Layout title="Términos y Condiciones">
  <section class="max-w-full p-4" >
    <div class="text-white text-justify">
    <h1 class="text-3xl font-bold mb-4 ">Términos y Condiciones</h1>
   
    <!-- Continúa con el contenido de los términos y condiciones -->
    

Bienvenido/a a Brycode. Al acceder y utilizar este sitio web, aceptas cumplir con los siguientes términos y condiciones:

El contenido de este sitio es únicamente para uso informativo o personal. No está permitido utilizar el sitio con fines ilegales o no autorizados.

Todo el contenido (texto, imágenes, código, etc.) es propiedad de Brycode, a menos que se indique lo contrario.

Este sitio puede contener enlaces a otros sitios web. No nos hacemos responsables por el contenido o prácticas de privacidad de dichos sitios.

No garantizamos que el sitio esté libre de errores o interrupciones. No nos responsabilizamos por daños derivados del uso de este sitio.

Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios entrarán en vigor desde su publicación.

Si tienes dudas, puedes escribirnos a <a href="mailto:gloriosocamino@gmail.com">gloriosocamino@gmail.com</a>.
</div>
  </section>
</Layout>
