---
import logo from '../assets/logo.svg';

---
<container class="flex flex-wrap ">
	</section>
<section class="w-full">
	
	
		<h1 class="text-[#EFB810] font-sans text-9xl text-center">Brycode</h1>
		<h2 class="font-sans text-2xl text-center mt-7">Creamos ideas impactantes e innovadoras para tu marca</h2>
</section>
	
<section >
	<div class="size-90 flex flex-row mt-20 relative left-20">
	<img class="rounded-full bg-[#EFB810]" id="logo" src={logo.src} alt="" fetchpriority="high" />

	<div>
		<div class="flex flex-row w-128 relative size-32 ..." >
	<div class="absolute left-100 top-0 size-64 ...">
	<button class="bg-yellow-400 text-black px-6 py-2 rounded-md font-semibold hover:bg-yellow-500 transition w-32">
  Servicios
</button>
	</div>
	<div class="absolute left-150 top-0 size-64 ...">
	<button class="bg-yellow-400 text-black px-6 py-2 rounded-md font-semibold hover:bg-yellow-500 transition w-32">
 Marketing
</button>
	</div>
	<div class="absolute left-200 top-0 size-64 ...">
	<button class="bg-yellow-400 text-black px-6 py-2 rounded-md font-semibold hover:bg-yellow-500 transition w-32">
Historia
</button>
	</div>
	</div>
	</div>

	


<section class="">

</section>
<section class="botons">

</section>
</container>