---
import logo from '../assets/logo.svg';
import Logo_wa from '../assets/logo_wa.webp';
---
<section>
	<section class="w-full flex-none md:w-full">
		<h1 class="text-[#EFB810] font-sans text-9xl text-center">Brycode</h1>
		<h2 class="font-sans text-2xl text-center mt-15 italic">Creamos ideas impactantes e innovadoras para tu marca</h2>
	</section>
	<section class="flex md:flex-1 ...">
		<div  class="w-200" >
			<img class="md:m-10 w-100 rounded-full bg-[#EFB810]" id="logo" src={logo.src} alt="" fetchpriority="high" />
		</div>
<div class="flex w-screen ">
	
				<button onclick= window.location.href='#servicios'; class="bg-yellow-400 text-black text-2xl p-4 rounded-md font-semibold hover:bg-yellow-600 transition w-52 absolute left-210 mt-15">
  Servicios
</button>
	<button onclick= window.location.href='https://wa.me/573007325160?text=Hola,%20deseo%20adquirir%20los%20servicios%20de%20...'; class="bg-yellow-400 text-black text-2x1 p-5 rounded-md font-semibold hover:bg-yellow-600 transition w-52 absolute left-280 mt-15">
 Adquirir Servicios
</button>
			

			<div class="w-full text-2xl relative top-40 right-10">
				 <p class="font-sans text-justify"> Somos una agencia creativa especializada en diseño web, programación y marketing digital. Nuestro propósito es ayudar a empresas y emprendedores a potenciar su presencia online a través de soluciones personalizadas, elegantes y funcionales.</p><br>
				<p class="font-sans text-justify"> Entendemos que cada marca tiene una historia única. Por eso, ofrecemos servicios estratégicos y visuales que se adaptan a las necesidades reales de nuestros clientes, para que puedan destacar en un mercado competitivo, atraer a su público ideal y lograr resultados medibles.</p>

			</div>
			</div>
	</div>
		</div>
		<section class="absolute left-20 top-175 size-64 ...">
<form method="POST" action="/enviar" class="relative left-10">
<label for="email" class="block text-gray-700 text-sm font-bold mb-2">
	Correo Electrónico:
</label>
<input
	type="email"
	id="email"
	name="email"
	class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
	placeholder="Ingresa tu correo electrónico"
/>
<button
	type="submit"
	class="bg-yellow-400 text-black px-6 py-2 rounded-md font-semibold hover:bg-yellow-600 transition w-32 relative top-1"
>
	<p>Registrar</p>
</button>

</form>
</section>
	






</section>
<section class="absolute left-340 top-200 ">
<a 
  href="https://wa.link/p86ra2" 
  
>
  
    <img class="w-30 rounded-full bg-[#EFB810]" id="logo" src={Logo_wa.src} alt="Asesoría" />


</a>
</section>
</section>

