---
import '../styles/carrusel.css'
---
<style> 

    .slide img {
      width: 100%;
      height: 40em;
      display: block;
    }

  </style>
</head>
<body>

  <div class="carousel">
    <div class="slides">
      <div class="slide">
        <img src="/img/ilustraci贸n7.svg" alt="ilustraci贸n 7">
      </div>
      <div class="slide">
        <img src="public/img/imagenp1.svg" alt="Imagen 1">
      </div>
      <div class="slide">
        <img src="public/img/tracfik3.svg" alt="tracfick 3">
      </div>
	  <div class="slide">
        <img src="public/img/ilustraci贸n1.svg" alt="ilustraci贸n ">
      </div>
    </div>
  </div>