---
import '../styles/carrusel.css'
---
<style> 

    .slide img {
      width: 70%;
      height: 30em;
      display: block;
    }

  </style>
</head>
<body>

  <div class="carousel ">
    <div class="slides">
      <div class="slide">
        <img src="src/assets/tracfik4.jpg" alt="tracfick">
      </div>
      <div class="slide">
        <img src="src/assets/tracfik2.jpeg" alt="tracfick">
      </div>
      <div class="slide">
        <img src="src/assets/tracfik3.jpeg" alt="tracfick">
      </div>
	  <div class="slide">
        <img src="src/assets/tracfik1.jpg" alt="tracfick">
      </div>
    </div>
  </div>