---
import '../styles/carrusel.css'
import ImagenP1 from '../assets/imagenp1.jpg';
import Diseno7 from '../assets/diseño7.jpg';
import Tracfick3 from '../assets/tracfick3.jpeg';
import diseño1 from '../assets/diseño1.png';

---
<style> 

    .slide img {
      width: 100%;
      height: 40em;
      display: block;
    }

  </style>
</head>
<body>
  
<div class="carousel">
  <div class="slides">
    <div class="slide">
      <img src="/img/diseño7.jpg" alt="Diseño" />
    </div>
    <div class="slide">
      <img src="/img/imagenp1.jpg" alt="Imagen 1" />
    </div>
    <div class="slide">
      <img src="/img/tracfick3.jpeg" alt="Tráfico" />
    </div>
  </div>
</div>